DATABASE_URL=postgresql+psycopg2://USER:PASSWORD@localhost:5432/api_integration_monitor
APP_NAME=API Integration Monitor
DEBUG=True #false in the production
TAVILY_API_KEY=tak_your_tavily_api_key_here
GROQ_API_KEY=gsk_your_groq_api_key_here
SCHEDULER_SECRET=your_long_random_secret_here

LANGSMITH_TRACING=true
LANGSMITH_API_KEY=your-langsmith-api-key
LANGSMITH_PROJECT=api-integration-monitor-agent
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
